# Base URL for NextAuth
NEXTAUTH_URL=""

# Base URL for axios
NEXT_PUBLIC_BASE_URL=""

# some long, hard-to-guess string for encoding JSON web tokens
NEXTAUTH_SECRET="hBFZs5uCfYKoeoAnBUbXGBnLHp1rRzPQG4oBJr64OEw"

# another long, hard-to-guess string for encoding revalidation requests
REVALIDATION_SECRET="hBFZs5uCfYKoeoAnBUbXGBnLHp1rRzPQG4oBJr64OEw"

DB_PATH="./db"